body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f7e6a8;
    color: #4a332d;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
